<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
          <img src="https://image.flaticon.com/icons/png/512/2910/2910309.png" alt="Bank" width="200px" height="200px">
      </div>
      <div class="row">
        <button type="button" name="button" class="btn btn-success" on-click="incrementar">Load Data</button>
      </div>
      <div class="row">
        <p>Data binding</p>
        <p>Bidireccional  (two-way) <input type="text" value="{{prop1::input}}"></p> <!-- placeholder="[[prop3]]" -->
        <p>Unidireccional (one-way) <input type="text" value="[[prop1]]"></p>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>David</td>
              <td>Silva</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Martin</td>
              <td>Cruz</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Martin'
          },
          prop2: {
            type: Number,
            value: 1000
          },
          prop3: {
            type: String,
            value: 'Proporcione su usuario'
          }
        };
      }
      incrementar() {
        this.prop2 += 1;
        console.log(`prop1: ${this.prop1}`);
        console.log(`prop2: ${this.prop2}`);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>